root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{json,jsonc,yml,yaml,html,md}]
indent_size = 2

# These files use four-space indentation for nested mappings.
[.pre-commit*-config.yaml]
indent_size = 4

# Two trailing spaces represent a Markdown line break.
[*.md]
trim_trailing_whitespace = false
